<!DOCTYPE html>

<html>
  <head>
    <title>udacity-cs253 Santosh's implementation HOME</title>
  </head>

  <body>
    <h2>Hello, udacity!, created on 14 apr 2015, my own webdev 101</h2>
    <br>
    <a href="/unit2/rot13">HW 1.1 - rot13</a>
    <br>
    <a href="/unit2/signup">HW 1.2 - signup</a>
    <br>
    <a href="/blog">HW 2.1 - BLOG</a>
    <br>
    <a href="/blog/signup">HW 3.1 - SIGNUP with cookie welcome</a>
    <br>
    <a href="/blog/login">HW 3.2 - LOGIN with cookie welcome</a>
    <br>
    <a href="/blog/logout">HW 3.3 - LOGOUT with cookie</a>
    <br>
    <a href="/blog.json">HW 4.1 - BLOG adding .json to blog front page</a>
    <br>
    <a href="/blog/newpost">HW 4.1.2 - BLOG adding newpost then add .json to the resulting page manually</a>
    <br>
    <a href="/wiki">WIKI</a>
  </body>
</html>
